*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:linear-gradient(135deg,#6a11cb,#2575fc);
min-height:100vh;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:25px 40px;

}

.controls{

display:flex;
gap:10px;

}

input, textarea{

padding:10px;
border:none;
border-radius:8px;

}

button{

padding:10px 16px;
border:none;
border-radius:8px;
cursor:pointer;

}

.notes-container{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
padding:40px;

}

.note{

padding:20px;
border-radius:15px;
color:black;
box-shadow:0 8px 20px rgba(0,0,0,0.2);
transition:0.3s;

}

.note:hover{

transform:scale(1.05);

}

.note h3{

margin-bottom:10px;

}

.note p{

font-size:14px;

}

.note-buttons{

margin-top:10px;
display:flex;
justify-content:space-between;

}

/* MODAL */

.modal{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:none;
justify-content:center;
align-items:center;

}

.modal-content{

background:white;
color:black;
padding:25px;
border-radius:15px;
width:350px;
display:flex;
flex-direction:column;
gap:10px;

}

.modal-buttons{

display:flex;
justify-content:space-between;

}

.dark{

background:#121212;

}

.dark .note{

color:white;

}